---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    {% assign d = page.last_modified_at | date: "%j" %}
    {% capture d %}
      {% case d | slice: -1, 1 %}
        {% when "1" %}{{ d }}st
        {% when "2" %}{{ d }}nd
        {% when "3" %}{{ d }}rd
        {% else %}{{ d }}th
      {% endcase %}
    {% endcapture %}
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      circa {{ page.last_modified_at | date: "the DAY day of %Y" | replace: "DAY", d }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    {% if page.backlinks.size > 0 %}
    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">see also</h3>
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
    </side>
    {% endif %}
  </div>
</article>

<hr>

{% include notes_graph.html %}
